@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pool Solutions!</h1>
    <p>With this website- you can keep track of your pools, their chemical levels, and the different maintenance you need to have a safe and fun swimming experience!</p>
</div>
