@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="https://lh3.googleusercontent.com/noEU9egGR0uDkhFW4-3pTvCx90zoOg1quMTKwXYi948O0Otws9BDX8bndC0PO-XVl7-YjbtktTfpt1ZoQ6hwhCJs387ehpvGpks0WmZ9RfG3vEKoR2t_zAh3B9JSyqDOiYX9OP10y1JqCVd-UevshNDn3IyQg9AspCSKAb6MhL_B5Xl6HfuH9K4bdQ"; height="150px"; width="150px"</>  Pool-Solutions</h1>
    <p>Track your chemicals and maintenance. Click on Pools to get started.</p>
</div>
<style> h1{background-color: royalblue; color: black; border: groove white; font-family: impact, fantasy} </style>
<style> html{background-image: url("https://images.unsplash.com/photo-1603085429201-64dadaec4061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"); background-size: cover}</style>
<style> p{font-weight: 500; font-family: 'Arial Rounded MT'}</style>


