@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><img src="https://lh5.googleusercontent.com/oCvxt7P9YU2wWN6tDo3eFpTCOsyGKjtfTKt5uYRKamHdZYZaRmACLU18pHfgoKM55pauq2bDGJ36c6C__jnVRHTdl7Hg6TaSDCdBRa7YLnXMykKhCH0O529rkHF__ULGtG8VNQr8XvBc3LD4mgSD20AuDPFp6bUNOMFWKaspv9HayBS_wPaaa3HsOA"/>  Pool-Solutions</h1>
    <p>Track your chemicals and maintenance. Click on Pools to get started.</p>
</div>
<style> h1{background-color: deepskyblue; color: black; font-family:'Bungee Spice', cursive; font-size:100px; border-radius: 8px} </style>
<style> p{font-weight: 400; font-family: 'Dangrek', cursive; font-size: 25px; text-decoration: underline; text-decoration-color: deepskyblue}</style>
<style> a{font-weight: 400; font-family: 'Dangrek', cursive; font-size: 20px}</style>
<style> img{width: 150px; height: 150px; border-radius: 8px }</style>


