@model IEnumerable<Pool>

     <div style="display: block">
     <a href="/Pool/InsertPool/">Create a New Pool</a>
 </div>

<h2>Pools</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Type</th>
    </tr>

    @foreach (var pool in @Model)
    {
        <tr>
            <td><a href=/Pool/ViewPool/@pool.PoolID>@pool.PoolID</a></td>
            <td>@pool.PoolLocation</td>
            <td>@pool.PoolType</td>
        </tr>
    }

</table>

<style>
table, th, td {
  border: 1px solid;
  text-align: center;
}
tr:nth-child(even) {background-color: lightgrey;}
</style>

