@model Pool

<h2>Update @Model.PoolLocation</h2>

@using (Html.BeginForm("UpdatePoolToDatabase", "Pool", "Post"))
{
    <div>
    <input asp-for="PoolID" type="hidden" value="@Model.PoolID" />
    </div>
    <label asp-for="PoolLocation" class="control-label">Location</label>
    <input type="text" name="PoolLocation" class="form-control" value="@Model.PoolLocation" />

    <label asp-for="PoolType" class="control-label">Type</label>    
    <input type="text" name="PoolType" class="form-control" value="@Model.PoolType" />

    <input type="submit" value="Update Pool" class="btn btn-primary" />
}
<style> label{font-family:'Dangrek', cursive;font-size: 20px;}</style>
<style> input{font-family:'Dangrek', cursive;font-size: 20px;}</style>
<style> div{font-family:'Dangrek', cursive;font-size: 20px;}</style>
